<div>

<h2> <b> Procedure Library </b> </h2>
<br>

<form ng-show="showDateFilterForm" class="form-inline" role="form" ng-submit="filterByDate()" >
	<div class="form-group">
		<p class="input-group input-group-lg">
              <input type="date" class="form-control" datepicker-popup="{{format}}" ng-model="ldt" is-open="openedL" datepicker-options="dateOptions">
              <span class="input-group-btn">
                <button class="btn btn-lg" ng-click="openL($event)"><span class="glyphicon glyphicon-calendar"></span></button>
              </span>
        </p>

        <p class="input-group input-group-lg">
              <input type="date" class="form-control" datepicker-popup="{{format}}" ng-model="udt" is-open="openedU"  datepicker-options="dateOptions" />
              <span class="input-group-btn">
                <button class="btn btn-lg" ng-click="openU($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
        </p>
		
	
		<p class="input-group input-group-lg"> <button type="submit" class="btn btn-primary btn-lg" ng-click="filterByDate()">Filter by modified date</button> </p>
	</div>
</form>
 

<table  class="table table-striped">
	<thead>
		<tr>
			<th> Procedure ID </th>
			<th> Procedure Name </th>
			<th> Version </th>
			<th> Modified Date  <span ng-click="showDateFilter()"class="glyphicon glyphicon-filter"> </span> </th>
		</tr>
	</thead>

	<tr ng-repeat="result in results" ng-show="result.show">
		<td> {{result.pid }}</td>
		<td> <a href="/reader/{{result.pid}}"> {{result.pname}} </a></td>
		<td> {{result.version}} </td>
		<td> {{result.date_of_modification | date:'shortDate' }}</td>
	</tr>
</table>
</div>






