<div>

<h3>Procedure Library</h3>
<br>
<table  class="table table-striped">
	<thead>
		<tr>
			<th> Procedure ID </th>
			<th> Procedure Name </th>
			<th> Version </th>
			<th> Modified Date </th>
		</tr>
	</thead>

	<tr ng-repeat="result in results | orderBy:'date_of_modification'">
		<td> {{result.pid }}</td>
		<td> <a href="/reader/{{result.pid}}"> {{result.pname}} </a></td>
		<td> {{result.nversion}} </td>
		<td> {{result.date_of_modification | date:'shortDate' }}</td>
	</tr>
</table>
</div>