
<div>
	<div class="row">
		<div class="col-xs-12 col-xs-offset-5">
			<button type="submit" class="btn btn-primary" ng-click="printReader()">Print &nbsp;<span class="glyphicon glyphicon-print"></span> </button>
		</div>
	</div>
	<br>
	<div id="reader" style="border: 1px solid #C0C0C0;padding:10px;border-width:thick;border-style: groove;">
		
			<h2 class="text-center"> {{procedure.pid}}&nbsp;&nbsp;{{procedure.pname}} </h2> 
			<br>
			<h4 class="text-center">  Version : {{procedure.version}} </h4>
			<br>
			<div autoscroll class="lead" ng-bind-html="procedure.data.content"></div>
			
	</div>
</div>