<div class="container">

<div class="page-header">
    <h3> <em><b>Schlumberger Information Solutions shall provide our clients with high-quality products, services, and solutions that meet or exceed their expectations. </em></b></h3>
    
</div>
<h4> We will accomplish this through <h4>
<div class="list-group">
    
    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading alert alert-info"> Motivated, empowered employees <small>who </small> </h4> 
       <ul>
            <li>Understand and implement the SIS strategy</li>
            <li>Ensure the satisfaction of their customer(s) whether internal or external</li>
            <li>Actively participate in a continuous improvement process</li>
       </ul>
    </a>


    <a href="#" class="list-group-item ">
        <h4 class="list-group-item-heading alert alert-info"> An effective Quality Management System <small>that</small></h4>
        <ul>
            <li>Defining and monitoring key processes and their indicators</li>
            <li>Setting, measuring, and reviewing quality objectives</li>
            <li>Evaluating effectiveness via internal and external audits</li>
       </ul>
    </a>

    <a href="#" class="list-group-item">
        <h4 class="list-group-item-heading alert alert-info"> Line management leadership <small>to</small></h4>
        <ul>
            <li>Communicate and implement this quality statement</li>
            <li>Ensure compliance of this quality statement.</li>
        </ul>
    </a>


</div>
<br>
<table>

    <tr> <td> Uwem Ukpong </td> <tr>
    <tr> <td> President, Schlumberger Information Solutions  </td> <tr>
    <tr> <td> August 2013 </td> <tr>
    
</table>
<br>
</div>


