
<div>
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/admin/{{action}}/initialization{{url_ext}}"> 				Initialization  </a></li>
  <li><a href="/admin/{{action}}/mappings{{url_ext}}"> 						Mappings        </a></li>
  <li><a href="/admin/{{action}}/content{{url_ext}}"> 						Content			</a></li>
  <li class="active"><a href="/admin/{{action}}/preview{{url_ext}}"> 		Preview			</a></li>
   <li><a href="/admin/{{action}}/submit{{url_ext}}"> 						Submit			</a></li>
</ul>
</div>




<div>
	
	<h2> Preview </h2>

	<div id="reader" style="border: 1px solid #C0C0C0;padding:10px;border-width:thick;border-style: groove;">
		
			<h2 class="text-center"> {{procedure.pid}}&nbsp; &nbsp;{{procedure.pname}} </h2> 
			<h3 class="lead"> Version: &nbsp;{{procedure.version}} </h2>

			<div class="lead" ng-bind-html="procedure.draft_version.data.content"></div>
			
	</div>
	
</div>