<div>
<ul class="nav nav-tabs" role="tablist">
  <li><a href="/admin/{{action}}/initialization{{url_ext}}"> 			Initialization      </a></li>
  <li><a href="/admin/{{action}}/mappings{{url_ext}}"> 					Mappings        </a></li>
  <li class="active"><a href="/admin/{{action}}/content{{url_ext}}"> 	Content			</a></li>
  <li ><a href="/admin/{{action}}/preview{{url_ext}}"> 					Preview			</a></li>
   <li><a href="/admin/{{action}}/submit{{url_ext}}"> 					Submit			</a></li>
</ul>
</div>



<div>
	
	<form role="form">

		<br>

		<div class="form-group">
			<label for="url">Enter the content relating to the QMS procedure  </label>
			<br>
			<div>
                <textarea ckeditor="editorOptions" name="editor" ng-model="procedure.draft_version.data.content" ng-change="save()"></textarea>
            </div>			
		</div>
		
	</form>
	
</div>