<div>
	<h2> Step 2/3 : Mappings </h2>
	<br>
	<form role="form">
		
		
		<label for="roleGroup"><strong>Roles  to which it applies</strong></label>
		
		<div class="form-group">
			<label class="checkbox-inline">
				<input type="checkbox" id="roleCheckbox1" ng-model="procedure.versions[procedure.baseline].role.pfl"> <span>Portfolio </span>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="roleCheckbox2" ng-model="procedure.versions[procedure.baseline].role.eng"> <span>Engineering</span>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="roleCheckbox3" ng-model="procedure.versions[procedure.baseline].role.cmz"> <span>Commercialization</span>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="roleCheckbox4" ng-model="procedure.versions[procedure.baseline].role.ops"> <span>Operations</span>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="roleCheckbox5" ng-model="procedure.versions[procedure.baseline].role.sup"> <span>Support</span>
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="roleCheckbox6" ng-model="procedure.versions[procedure.baseline].role.qlty"><span> Quality Management</span>
			</label>			
		</div>
		
		
		<label for="rupGroup"><strong>RUP Project phases to which it applies</strong></label>
		
		<div class="form-group">			
			<label class="checkbox-inline">
				<input type="checkbox" id="rupCheckbox1" ng-model="procedure.versions[procedure.baseline].phase.incp"> Inception
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="rupCheckbox2" ng-model="procedure.versions[procedure.baseline].phase.elb"> Elaboration
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="rupCheckbox3" ng-model="procedure.versions[procedure.baseline].phase.constr"> Construction
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="rupCheckbox4" ng-model="procedure.versions[procedure.baseline].phase.beta"> Beta
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" id="rupCheckbox5" ng-model="procedure.versions[procedure.baseline].phase.cmz"> Commercialization
			</label>			
		</div>
		
		
		<br>

		<label for="roleGroup"><strong>Tech centers to which the procedure is local to </strong></label>

		<br>
		
		

		<div class="form-group">

			<div  class="btn-group">
			<label class="btn btn-primary" ng-click="setGlobal()"> Global Procedure </label>
			<label class="btn btn-primary" ng-click="setGlobal()"> Local Procedure </label>	
			</div>

			<br><br><br>

			<label class="checkbox-inline">
				<input type="checkbox" ng-disabled="procedure.versions[procedure.baseline].global" ng-model="procedure.versions[procedure.baseline].center.abtc"> ABTC
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-disabled="procedure.versions[procedure.baseline].global" ng-model="procedure.versions[procedure.baseline].center.atc"> AaTC
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-disabled="procedure.versions[procedure.baseline].global" ng-model="procedure.versions[procedure.baseline].center.brgc"> BRGC
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-disabled="procedure.versions[procedure.baseline].global" ng-model="procedure.versions[procedure.baseline].center.htc"> HTC
			</label>
			<label class="checkbox-inline">
				<input type="checkbox"  ng-disabled="procedure.versions[procedure.baseline].global" ng-model="procedure.versions[procedure.baseline].center.mptc"> MPTC
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-disabled="procedure.versions[procedure.baseline].global" ng-model="procedure.versions[procedure.baseline].center.ntc"> SNTC
			</label>
			<label class="checkbox-inline">
				<input type="checkbox" ng-disabled="procedure.versions[procedure.baseline].global" ng-model="procedure.versions[procedure.baseline].center.ptc"> PTC
			</label>			
		</div>



		<label for="questions"><strong>Enter 3 questions that this procedure seeks to answer</strong></label>
		
		<br>
		<div class="form-group">
			<input type="text" class="form-control" size="100" id="question1"
			ng-model="procedure.versions[procedure.baseline].questions[0]">
		</div>
		
		<div class="form-group">			
			<input type="text" class="form-control" size="100" id="question2"
			ng-model="procedure.versions[procedure.baseline].questions[1]">
		</div>
		
		<div class="form-group">
			<input type="text" class="form-control" size="100" id="question3"
			ng-model="procedure.versions[procedure.baseline].questions[2]">
		</div>
		
	<ul class="pager">
		<li class="previous"><a href="/admin/procedurecrud/step1/{{url_extension}}">&larr; Initialization </a></li>
		<li class="next"><a href="/admin/procedurecrud/step3/{{url_extension}}"> Content &rarr;</a></li>
	</ul>
	
</div>