
<div>

	<div ng-show="onDelete" class="alert alert-success">
		Procedure {{pid}} has been disabled for public viewing
	</div>
	<br>
	<h3 class="text-center"> Procedures referring to {{pid}}  </h3>
	<br>
	<div class=" alert alert-warning">
		<table>
			<tr ng-repeat='hit in hits'><td> <h4> <a href="/reader/{{hit.id}}" target="_blank"> <u> {{hit.id}} : {{hit.name}} </u> </a> <br>
				<div ng-bind-html="hit.snippets[0]"></div>				
				<div ng-bind-html="hit.snippets[1]"></div></td>
			 </tr>
		</table>
	</div>
</div>
