<div>
	<form class="form-horizontal" role="form">
		    <div class="form-group">
		        <label for="inputUsername" class="col-sm-4 control-label">LDAP Alias</label>
		        <div class="col-sm-4">
		            <input type="text" class="form-control" ng-model="profile.alias">
		        </div>
		    </div>
		    <div class="form-group">
		        <label for="inputPassword" class="col-sm-4 control-label">LDAP Password</label>
		        <div class="col-sm-4">
		            <input type="password" class="form-control" ng-model="profile.password">
		        </div>
		    </div>
		    <div class="form-group">
		        <div class="col-sm-offset-4 col-sm-10">
		            <button type="submit" class="btn btn-primary" ng-click="login()"> Enter <span class="glyphicon glyphicon-log-in"></span></button>
		        </div>
		    </div>

	</form>

	<div class="row top-buffer">
		<pre>Please contact the <a href="mailto:sis-qms@slb.com"> Quality Systems Manager </a> for administrator access</pre>
	</div>
</div>