
<h2 class="text-center"> {{heading}}</h2>
<div>
<form ng-submit="procedureSelected()" role="form">
	<div class="form-group">
		<label for="name">Select a procedure from the database</label>
			<select class="form-control" ng-init="defaultLabel" ng-model="selectedProcedure" ng-change="updateSelection()">
				<option ng-repeat="procedure in procedures">{{procedure.pid}}| {{procedure.pname}}</option>
				</option>
			</select>
		<br>

		<div ng-show="showComments" class="form-group">
			<label for="name"><strong>Comments </strong></label>
			<textarea class="form-control" ng-model="comments" rows="2"></textarea>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</div>

	<div ng-show="showMsgSuc" class="alert alert-info">
		Procedure {{procedure.pid}} disabled for public viewing
	</div>

	<div ng-show="showDeadLinks" class="alert alert-warning">
		<p> Warning: {{procedure.pid}} is being referred in </p>
		<br>
		<ul>
			<li ng-repeat="hit in deadlinks"><h4> <a href="/reader/{{hit.id}}"> <u> {{hit.id}} : {{hit.name}} </u> </a> <br>
				<div> {{hit.snippets[0] }}</div>				
				<div> {{hit.snippets[1] }}</div>
			 </li>
		</ul>
	</div>

	<div ng-show="showMsgLock" class="alert alert-danger col-xs-6">
			Procedure has been locked for an update by {{locker}}. <br>
			Consult the draft procedures section.
		
	</div>


	<div ng-show="showMsgFail" class="alert alert-danger col-xs-6">
		Procedure could not be removed from server
	</div>
</form>
</div>