<div>

<h3>Procedures removed from public viewing</h3>
<br>
<table  class="table">
	<thead>
		<tr>
			<th> Procedure ID </th>
			<th> Procedure Name </th>
			<th> Author </th>
		</tr>
	</thead>

	<tr ng-repeat='procedure in procedures'>
		<td> {{procedure.pid }}</td>
		<td> <a href="/reader/{{procedure.pid}}"> {{procedure.versions[procedure.baseline].pname }} </a></td>
		<td> {{procedure.versions[procedure.baseline].owner}}</td>
		<td> <button type="submit" class="btn btn-primary" ng-click="restoreProcedure(procedure.pid)"> Restore </button> </td>
	</tr>
</table>
</div>